@charset "utf-8";
@import 'jquery.gritter.css';
/*----------------------------------------------------------------------------------------------
	Stylesheet For User home
	Author: Patrick Foh
	Date: 12/08/2011
-----------------------------------------------------------------------------------------------*/
body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#pheed-box {
	border-bottom:2px solid #CCC;
}
 a {
	color:#FF6600;
	text-decoration:none;
}
 a:hover {
	color:#0099FF;
}
.conservation_icon:before {
	content:url(/pheedbak/assets/img/converse.png);
	margin:0.3em;
}
.keyword_icon:before {
	content:url(/pheedbak/assets/img/keywords.png);
	margin:0.3em;
}
.discussion_icon:before {
	content:url(/pheedbak/assets/img/discuss.png);
	margin:0.3em;
}
.pheed_icon:before {
	content:url(/pheedbak/assets/img/feed.png);
	margin:0.3em;
}
.pheed_icon_16:before {
	content:url(/pheedbak/assets/img/feed_16.png);
	margin:0.3em;
}
.invite_icon:before {
	content:url(/pheedbak/assets/img/email.png);
	margin:0.3em;
}
#timeline {
	margin-top:-2%;
	margin-left:2%;
	margin-right:2%;
	overflow:hidden;
}
#timeline h3 {
	padding-left:14px;
}
#left-bar,#main-page,#right-bar {
	float:left;
}
#main-page {
	width:50%;
	border:solid 2px #CCCCCC;
	padding:20px;
}
#left-bar {
	margin-left:-2%;
	padding:20px;
	height:100%;
	border:thin 1px #CCCCCC;
	border-left:none;
}
#right-bar {
	padding:10px;
	width:20%;
	height:100%;
	border:thin 1px #CCCCCC;
	border-right:none;
}
#status {
	position:relative;
	left:120px;
	top:-39px;
}
#menu ul li {
	list-style:none;
	padding:4px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	width:100%;
}
#menu ul li a {
	color:rgba(0,153,255,1);
	text-decoration:none;
	font-size:15px;
	padding:4px;
	margin:0.4em;
}
#menu ul li a:hover {
	background:rgba(204,204,204,1);
	width:100%;
}
.active-page {
	background:#CCCCCC;
	width:100%;
}

